<div class="row align-items-center justify-content-center users-new-row">
  <div class="col-4">
    <%= form_for @user do |f| %>
      <div class="form-row">
        <div class="col-12">
          <label for="account">用户账号：</label>
          <input type="text" class="form-control" id="account" placeholder="请输入用户账号">
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="password">密码:</label>
          <input type="password" class="form-control" id="password" placeholder="请输入密码">
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="password_confirmation">重复密码:</label>
          <input type="password" class="form-control" id="password_confirmation" placeholder="请输入重复密码">
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="email">邮箱:</label>
          <input type="email" class="form-control" id="email" placeholder="请输入邮箱">
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="qq">QQ号:</label>
          <input type="text" class="form-control" id="qq" placeholder="请输入QQ号">
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="mobile">手机号码:</label>
          <input type="text" class="form-control" id="mobile" placeholder="请输入手机号码">
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="mobile">验证码:</label>
          <div class="row">
            <div class="col-6">
              <%= rucaptcha_input_tag(class: 'form-control', placeholder: '请输入验证码') %>
            </div>
            <div class="col-6"><%= rucaptcha_image_tag(alt: 'Captcha', class: 'captcha') %></div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-block" type="submit">立即注册</button>
    <% end %>
  </div>
</div>
