.users-body {
  overflow: hidden;
  position: relative;
  .users-page-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;

    >.container {
      height: 100%;
      .users-new-row {
        height: 100%;
        .form-row {
          padding-bottom: 1rem;
          .captcha {
            width: 100%;
            height: 38px;
          }
        }
      }
    }
  }
}
